body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:black;
}
header {
    background-color: #1787ff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
navbar {
    background-color: #0056b3;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 00px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

navbar a {
    color: white;
    text-decoration: none;
    /* margin: 0 15px; */
    display: flex;
    
    /* FIX 2: Move the vertical padding here to define the full height of the link */
    padding: 10px 15px; 
    
    /* Remove height/align-items, as padding and align-items: stretch on parent handle this */
    /* height: 100%; */
    align-items: center; 
    border-radius: 0;

}
navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px; 
    background-color: #023a76;
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0); 

}

h1 { 
    text-align: center; 
}

p {
    margin: 5px;
    padding: 5px;
}
form {
    max-width: 400px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    align-content: center;
}

table {
    max-width: 1000px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.1);
    align-content: center;
}
table th, table td, table tr {
    border: 1px solid #737373; 
    padding: 6px 10px;
    text-align: left;
}

table th {
    background-color: #9a9898; 
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}
.success {
    color: green;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}