body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:black;
}
header {
    background-color: #1787ff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
navbar {
    background-color: #0056b3;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
navbar a:hover {
    text-decoration: underline;
}
h1 { 
    text-align: center; 
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    align-content: center;
}
.error {
    color: red;
    text-align: center;
    margin-bottom:10 px;
    bottom: 0;
}
.success {
    color: green;
    text-align: center;
    margin-bottom: 10 px;
    bottom: 0;
}