body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #775cf0;
    color:black;
}
header {
    background-color: #1787ff;
    color: white;
    margin: -10px;
    padding: 5px 15px;
    text-align: center;
}

.dropdown {
    position: relative; 
    display: inline-block; 
    color: white;
    text-decoration: underline;
    text-underline-offset: 2.5px; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #3366cc; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999; 
    top: 100%; 
    padding: 5px 0;
    border-radius: 0 0 4px 4px;
    transition: 1.0s;

}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block; 
    height: auto;
    transition: background-color 1.0s;
    box-shadow: none !important; 
    text-align: left;

}

.dropdown:hover .dropdown-content {
    display: block; 
    flex-direction: column; 
}

.dropdown-content a:hover {
    background-color: #004080; 
    text-decoration: none;
    text-underline-offset: 0;
}

navbar {
    background-color: #0056b3;
    width: 100%;
    margin: -10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}


navbar a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    padding: 12px 10px; 
    align-items: center; 
    border-radius: 0;
}

.nav-right {
    margin-left: auto; 
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px; 
    background-color: #023a76;
    box-shadow: inset 0 0 0 1px white; 
    transition: background-color 0.5s;
}

h1 { 
    text-align: center; 
}

h2.transactions { 
    text-align: center; 
    background-color: #3897fc;
    border: 2px solid black;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
}

h4 {
    margin-bottom: -15px;
    margin-top: 10px;
}

.dash {
    margin-top: 15px;
    padding: 5px;
}

.table {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px;
    border-top: 0px;
    border: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 100px rgba(0,0,0, 0.1);
    align-content: center;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

td, th {
    vertical-align: top;
}

td {
    vertical-align: top;
    background-color: #93e2fa;
}

th.buy{
    vertical-align: top;
    background-color: #38f338;
}

th.sell{
    vertical-align: top;
    background-color: rgb(249, 35, 35);
}

.progress {
    text-align: center;
    border: #0a0a0a;
}

.flow-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

form {
    max-width: 500px;
    margin: 15px auto;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 8, 255, 0.1);
    align-content: center;
    border: 2px solid #000000;    
    background-color: rgb(210, 133, 236);
}

form.share {
    max-width: 500px;
    margin: 2px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 8, 255, 0.1);
    align-content: center;
    border: 2px solid #000000;   
    background-color: rgb(0, 179, 255); 
}

table {
    max-width: 1500px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.1);
    align-content: center;
}

table th, table td, table tr {
    border: 1.5px solid #000000; 
    padding: 6px 10px;
    text-align: left;
}

table th {
    background-color: #4aaaf8; 
    color: #0a0a0a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}

.success {
    color: rgb(43, 228, 43);
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}

.btn {
    background-color: #f21b1b;  
    color: #000;                
    border: 1px solid #000;    
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease-in-out;
    color: black;
}

.btn-red:hover {
    background-color: #cc0000;   
}

button.buy {
    background-color: #3ce73c;   
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button.buy:hover {
    background-color: #39e639;  
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.portfolio-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border: 2px solid black;
}

.cash { 
    background-color: #26d9f8; 
}     

.value { 
    background-color: #d43cfa; 
}

.return { 
    background-color: #FFD700; 
}

.profit {
    background-color: #58eb45; 
}

.loss {
    background-color: #f14223; 
}

.loser {
    background-color: #f14223; 
}

.gainer {
    background-color: #31ee31;
}

.asset {
    background-color: white;
    padding: 5px;
    border-radius: 15px;  
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border: 2px solid black;
    max-width: 995px;
    margin: 20px auto;
}

.holding {
    background: #4aaaf8;
    padding-bottom: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border: 2px solid black;
    border-bottom: 0;
    max-width: 996px;
    margin: 0px auto;
}

.portfolio-box h2 {
    margin: 0;
    font-size: 1.3rem;
}

.portfolio-box h3 {
    margin: 10px 0 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.portfolio-box p {
    margin: 10px 0 -5px;
}

.stockinfo {
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(76, 153, 235);
}

.StockPredict {
    padding: 10px;
    background-color: #4aaaf8;
    border: 2px solid black;
}

.reco {
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000000;
    background-color: #26d9f8;
    max-width: 405px;
}

.buystock {
    margin-bottom: -20px;
}

.button {
    background-color: #07d2ed; 
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}