body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:black;
}
header {
    background-color: #1787ff;
    color: white;
    padding: 5px 15px;
    text-align: center;
}

.dropdown {
    position: relative; 
    display: flex; 
    color: white;
    text-decoration: underline;
    text-underline-offset: 2.5px; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #3366cc; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    top: 100%; 
    padding: 5px 0;
    border-radius: 0 0 4px 4px;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block; 
    height: auto;
    transition: background-color 0.3s;
    box-shadow: none !important; 
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: flex; 
    flex-direction: column; 
}

.dropdown-content a:hover {
    background-color: #004080; 
    text-decoration: none;
    text-underline-offset: 0;
}

navbar {
    background-color: #0056b3;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between; 
}

navbar a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    padding: 12px 10px; 
    align-items: center; 
    border-radius: 0;
}

.nav-right {
    margin-left: auto; 
}

navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px; 
    background-color: #023a76;
    box-shadow: inset 0 0 0 1px white; 
}

.dropdown-content a:hover {
    background-color: #004080; 
    text-decoration: none;
    text-underline-offset: 0;
} 

h1 { 
    text-align: center; 
}
.dash {
    margin: 5px;
    padding: 5px;
}

.sdlc {
    margin: 5px;
    padding: 5px;
}

form {
    max-width: 500px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    align-content: center;
}

table {
    max-width: 1000px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.1);
    align-content: center;
}
table th, table td, table tr {
    border: 1px solid #737373; 
    padding: 6px 10px;
    text-align: left;
}

table th {
    background-color: #9a9898; 
    color: #0a0a0a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}
.success {
    color: green;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
}