{% extends 'base.html' %}   
{% block title %}Logs - Smart Study Quiz App{% endblock %}
{% block heading %}Progress Logs{% endblock %}
{% block content %}
<form class="table">
    {% if posts %}
        <table>
            <!-- Table for Logs -->
            <tr> 
                <th>Date</th>
                <th>Title</th>
                <th>Details</th>
                <th>Challenges</th>
                <th>Solutions</th>
            </tr>
        {% for post in posts %}
            <tr> 
                <td>{{ post.date }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.details }}</td>
                <td>{{ post.challenges }}</td>
                <td>{{ post.solutions }}</td>
            </tr>
        {% endfor%}
        
        </table>
        <!-- buttons to redirect to add progress and edit logs-->
        <p class="progress"><a href="{{ url_for('addprogress') }}">Add Progress</a>
        <a href="{{ url_for('edit_log') }}">Edit Logs</a></p>
    {%endif%}
</form>
{% endblock %}