{% extends 'base.html' %}
{% block title %}Flash Cards - Smart Study Quiz App{% endblock %}
{% block heading %}Flash Cards{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('flashcards') }}">
    
    <h3>Card {{ current_number }} of {{ cards }}</h3>
    
    <div>
        <div>
            <p>{{ question.question }}</p>
        </div>
        {% if flipside %}
        <hr>
        {% if current_number == 1 %}
            <p>To develop reliable and maintainable software systems</p>
        {% endif %}
        {% if current_number == 2 %}
            <p>Waterfall</p>
        {% endif %}
        {% if current_number == 3 %}
            <p>Save changes to the repository</p>
        {% endif %}
        {% if current_number == 4 %}
            <p>Routing testing</p>
        {% endif %}
        {% if current_number == 5 %}
            <p>To document and visualise system structure and behaviour</p>
        {% endif %}
        {% if current_number == 6 %}
            <p>Don't Repeat Yourself</p>
        {% endif %}
        {% if current_number == 7 %}
            <p>Hiding internal details and exposing only needed functionality</p>
        {% endif %}
        {% if current_number == 8 %}
            <p>POST</p>
        {% endif %}
        {% if current_number == 9 %}
            <p>Communication between different software components</p>
        {% endif %}
        {% if current_number == 10 %}
            <p>Reliable and maintainable</p>
        {% endif %}
        {% endif %}
    </div>
    
        {% if not flipside %}
        <button type="submit" name="action" value="flip">Flip Card</button>
    {% else %}
        
        {% if current_number > 1 %}
            <button type="submit" name="action" value="previous">Previous</button>
        {% endif %}
        <button type="submit" name="action" value="next">Next</button>
        {% if current_number == cards %}
            <a class="toquizz" href="{{ url_for('quizz') }}">Go to Quizz</a>
        {% endif %}
    {% endif %}
</form>
{% endblock %}