{% extends 'base.html' %}   
{% block title %}Login - Smart Study Quiz App{% endblock %}
{% block heading %}Login{% endblock %}
{% block content %}
    <!-- <p> Enter your details to login </p> -->
    <form method="POST" action="{{ url_for('login') }}">
        <p>Username
        <input type="text" name="username" placeholder="Username" required></p>
        <p>Password 
        <input type="password" name="password" placeholder="Password" required></p>
        <button type="submit">login</button>
    </form>
{% endblock %}