{% extends 'base.html' %}   
{% block title %}Login - Smart Study Quiz App{% endblock %}
{% block heading %}Login{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <!--<p>username
        <input type="text" name="username" placeholder="Username" required></p>
        <p>password
        <input type="password" name="password" placeholder="Password" required></p>
        <button type="submit">Submit</button>-->

        <p>Username {{ form.username() }}</p>
        <p>Password {{ form.password() }}</p>
        <p>{{ form.submit }}</p>

    </form>
{% endblock %}