{% extends 'base.html' %}   
{% block title %}Register - Smart Study Quiz App{% endblock %}
{% block heading %}Register{% endblock %}
{% block content %}
    <!-- <p> Enter your details to register </p> -->
    <form method="POST" action="{{ url_for('register') }}">
        <p>Username
        <input type="text" name="username" placeholder="Username" required></p>
        <p>Display Name
        <input type="text" name="displayName" placeholder="Display Name" required></p>
        <p>Email
        <input type="email" name="email" placeholder="Email" required></p>
        <p>Password
        <input type="password" name="password" placeholder="Password" required></p>
        <p>Confirm Password
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required></p>
        <button type="submit">Register</button>
    </form>
{% endblock %}