{% extends 'base.html' %}   
{% block title %}SDLC - Smart Study Quiz App{% endblock %}
{% block heading %}SDLC{% endblock %}
{% block content %}
        <table>
            <tr> 
                <th>Requirements definition</th>
                <th>determining specifications</th>
                <th>design</th>
                <th>development</th>
                <th>testing/debugging</th>
            </tr>
            <tr> 
                <td><h4>Objective:</h4><br> Create a study app with that helps students study and complete quizzes.<br>
                    <h4>Fuctional:</h4><br>- User authentication<br>- Database Setup<br>- Progress Logging<br>- Quiz<br>- SDLC Documentation<br>
                    <h4>Non fuctional:</h4> <br>- Responsive App<br> - Flask + Jinga used<br>- Insecure and secure app<br>- Version controlled with git<br>- Handle errors                    
                    <br> <h4>Constraints</h4><br>- Only use Flask, sqlite3, Built in Python libaries<br>- Only 1 subject for quizzes<br>- No PWA Features
                </td>
                <td><h4>Objective:</h4><br>Allow user login and authentication, save data in a database, log progress and a basic quiz
                    <br>The app will be responsive, use flask and jinga, Demonstrate insecure vs. secure practices, version controled code with git, handle basic errors
                    <br><h4>Project scope:</h4><br>User login, quizzes, progress logs. NOT included: PWA offline mode
                    <br><h4>Deliverables:</h4><br>working Flask app, SQLite database, SDLC pages, progress logs, live demo.
                    <br><h4>Acceptance criteria:</h4><br>User can log in securely, Quiz pulls questions from database, Score saves correctly, Progress logs work for each user
                </td>
                <td>
                    <br><h4>Diagram</h4>
                    <br><h4>Waterfall Justification</h4>
                    <br>Requirements for the project are clear and unlikely to change, so a linear method works well. 
                    <br>Each phase creates strong documentation, which helps keep the project organised. 
                    <br>The structured order makes it easy to track progress and prevents skipping ahead. 
                    <br>Reduces mistakes during development because all planning is completed first.
                </td>
                <td><a href="{{ url_for('logs') }}">Progress Logs</a><br>
                </td>
                <td></td>
            </tr>
        </table>
{% endblock %}